@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%
	
*
	margin: 0
	padding: 0
	list-style-type: none

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	font-weight: 500
	overflow-x: hidden

a 
	font-size: 30px
	color: #000
	&:focus, &:hover
		outline: none
		text-decoration: none
	&:focus
		color: inherit

/// выпадающий текст
.falltext
	opacity: 0
	transform-origin: top center
	display: inline-block
	font-size: 22px
	line-height: 18px
	position: absolute
	top: 100%
	right: 0	
	color: rgba(#000, 0.5)
	font-weight: 300



/// прелоадер //////////
.loader
	opacity: 0

.cssload-thecube 
	width: 67px
	height: 67px
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	position: fixed
	transform: rotateZ(45deg)
	z-index: 101

.cssload-thecube .cssload-cube 
	position: relative
	transform: rotateZ(45deg)

.cssload-thecube .cssload-cube 
	float: left
	width: 50%
	height: 50%
	position: relative
	transform: scale(1.1);

.cssload-thecube .cssload-cube:before 
	content: ""
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: rgb(0,0,0)
	animation: cssload-fold-thecube 3.48s infinite linear both
	transform-origin: 100% 100%

.cssload-thecube .cssload-c2 
	transform: scale(1.1) rotateZ(90deg)

.cssload-thecube .cssload-c3 
	transform: scale(1.1) rotateZ(180deg)

.cssload-thecube .cssload-c4 
	transform: scale(1.1) rotateZ(270deg)

.cssload-thecube .cssload-c2:before 
	animation-delay: 0.44s

.cssload-thecube .cssload-c3:before 
	animation-delay: 0.87s

.cssload-thecube .cssload-c4:before 
	animation-delay: 1.31s


@keyframes cssload-fold-thecube 
	0%, 10% 
		transform: perspective(126px) rotateX(-180deg)
		opacity: 0
	25%, 75% 
		transform: perspective(126px) rotateX(0deg)
		opacity: 1
	90%, 100% 
		transform: perspective(126px) rotateY(180deg)
		opacity: 0
/////------------------////////////	


.menu-panel
	position: absolute
	top: 0	
	left: 0	
	background-color: #fff
	width: $logo-width
	height: 100%
	z-index: 10
	.wrap-text-active	
		position: relative
		width: 100%
		height: 100%
		.text-active
			transform: rotate(-90deg) translate(-50%, -50%)
			top: 50%
			left: 50%
			opacity: .3
			position: absolute
			display: block
			height: 70px
			line-height: 70px
			max-width: 100%
			white-space: nowrap
			transition: all ease-in-out 0.4s
			font-family: "Open Sans", sans-serif
			font-size: 22px
			font-weight: 500

.logo
	position: relative
	top: 20px
	text-align: center
	width: 51px
	height: 60px
	position: absolute
	left: 22px
	cursor: pointer
	z-index: 20
	left: 50%
	transform: translateX(-50%)
	span 
		width: 40px
		height: 10px
		background-color: #000
		display: inline-block
		position: absolute
		transition: all linear 0.4s
		&:first-child, &:nth-child(2)
			width: 25px
			top: 0
			left: 0
			transform: rotate(-80deg)
		&:nth-child(2)
			top: 26px
			transform: rotate(80deg)
		&:nth-child(3)
			transform: rotate(-45deg)
			left: 16px
			top: 5px
			width: 30px
		&:last-child
			transform: rotate(-135deg)
			left: 16px
			top: 20px
			width: 30px
	&.toggle
		span
			&:first-child
				transform: rotate(-134deg)
				left: 22px
				transform: rotate(139deg)
			&:nth-child(2)
				transform: rotate(134deg)
				transform: rotate(227deg)
				left: 22px
				top: 22px
			&:nth-child(3)
				transform: rotate(46deg)
				left: 0
				top: 0px
				width: 30px
			&:last-child
				transform: rotate(-223deg)
				left: 0
				top: 19px
				width: 30px

@keyframes hover-menu
	0%
		transform: scale(1.0) translate(0, 0)
	30%
		transform: scale(1.04) translate(5px, 2px)
	60%
		transform: scale(1.08) translate(13px, 4px)
	75%
		transform: scale(1.06) translate(5px, 3px)
	90%
		transform: scale(1.04) translate(2px, 2px)
	100%
		transform: scale(1.0) translate(0, 0)

.wrap-container	
	position: fixed
	width: 100%
	height: 100%
	
	// если выбран пункт меню
	&.menu--active
		position: absolute
		.menu-50
			&.menu-text
				transform: translateX(-100%)
			&.menu-img
				transform: translateX(calc(100% - 70px))
		.wrap-content
			top: 0


	.menu-50
		width: 50%
		position: fixed
		top: 0
		overflow: hidden
		z-index: 5
		transition: all cubic-bezier(.77,0,.18,1) 1s

		&.menu-text
			left: 0
			height: 100%
			background-color: #FFF

		&.menu-img
			left: 50%
			height: 100%
			.menu__image
				position: absolute
				width: 100%
				height: 100%
				top: 0
				left: 0
				background-color: #000

	// анимация для выпадающего текста
	@keyframes animated
		0%
			opacity: 0
			transform: rotateX(-90deg)
		70%
			transform: rotateX(30deg)
			opacity: 1
		100%
			transform: rotateX(0deg)
			opacity: 1
	
	.menu 
		display: inline-block
		text-align: center
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		li.menu__item
			display: none
			perspective: 1000
			position: relative
			cursor: pointer
			a
				color: #000
				padding: 0 60px
				font-size: 40px
				line-height: 70px
				display: block
				transition: opacity 0.2s ease
				text-transform: uppercase
				font-weight: 50
				position: relative
				&:hover, &:focus
					text-decoration: none
					opacity: 1
					transition-duration: 150ms
			span
				@extend .falltext
				margin-top: -10px
				top: 100%
				right: 15%
			&:hover
				span
					animation: animated 0.6s cubic-bezier(.77,0,.18,1) forwards

		&:hover
			.menu__item
				a
					opacity: .4
					

	.menu__image
		opacity: .3
		transition: opacity .4s
		background-position: center top
		background-size: cover
		&.hover
			opacity: 1
			z-index: 3
			animation: hover-menu 14s infinite linear

	.menu__image--home
		opacity: 1
		z-index: 2

/// общая секция
.section 
	.section__head 
		margin-top: 20px
		position: relative
		span 
			@extend .falltext
			left: 0
	&:not(display)
		.section__head
			span
				animation: animated 1s 0.7s cubic-bezier(.77,0,.18,1) forwards

//// основной контент
.wrap-content
	position: absolute
	width: calc(100% - 70px)
	height: 100%
	top: 0	
	transition-delay: 0.3s
	transition: top ease-in-out 0.5s
	background-color: #fafafa

	.section
		height: 100%
		&.section--active
			display: block
			transition-delay: 3s
		p 
			font-family: "Open Sans", sans-serif
		&.section--center
			text-align: center
		.section__head
			font-size: 60px
			line-height: 78px
			text-transform: uppercase
	
	.col-50
		position: relative
		width: 50%
		height: 100%
		float: left



/// о нас
.about
	.about__image
		background-position: top center
		background-size: cover
		background-repeat: no-repeat
		position: absolute
		background-color: #000
		width: 100%
		height: 100%
		display: inline-block
	.about__content
		padding: 0 40px
	.about__head
		text-align: left
		color: rgba(#000, 0.85)
		strong 
			color: #000
	.about__description
		font-size: 20px






/// навыки
.skills
	




		
/// работы
.work
	.work__card
		background-color: #fff
		margin-bottom: 20px
		border-radius: 2px
		display: inline-block
		min-height: 350px
		width: 100%
		position: relative
		transition: all 0.3s cubic-bezier(.25,.8,.25,1)
		box-shadow: 0 3px 6px rgba(#222,0.1), 0 3px 6px rgba(#222,0.2)
		//box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)
		background-position: center center 
		background-repeat: no-repeat 
		background-size: cover
		filter: grayscale(0.8)
		color: #fff
		overflow: hidden
		transform-style: preserve-3d
		perspective: 800px
		transform: scale3d(1, 1, 1)
		transition: all ease-in-out 0.3s
		&::after
			position: absolute
			content: ""
			top: 0
			left: 0
			bottom: 0
			right: 0
			background-color: rgba(#000, 0.5)
			transition: background-color ease-in-out 0.3s
			z-index: -1

		&:hover
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.19)
			//box-shadow: 0 3px 6px rgba(#222,0.1), 0 3px 6px rgba(#222,0.2)
			filter: grayscale(0)
			&::after
				background-color: rgba(#000, .2)
			.link 
				right: 10px
			.date
				right: -52px
			
		.link 	
			position: absolute
			top: 10px
			right: -50px
			width: 40px
			height: 40px
			background-color: rgba(#000, .5)
			color: #fff
			font-size: 20px
			text-align: center
			transition: right ease-in-out 0.3s
			i 
				line-height: 40px
			&.link-work
			&.link-more
				top: 60px
				transition-delay: 0.1s

		.date 
			position: absolute
			bottom: 64px
			right: -100px
			font-size: 26px
			transform: rotate(-90deg)
			transition: transform ease-in-out 0.3s
			transition: 0.3s ease-in-out right
			transition-delay: 0.2s
			i 
				margin-right: 10px

//// контакты
.contact
	.contact__head
		position: relative
		perspective: 1000
		display: inline-block
		span
			@extend .falltext
	.section--center
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
	&:not(display)
		.contact__head
			span
				animation: animated 1s 0.7s cubic-bezier(.77,0,.18,1) forwards

	.contact-info
		margin-bottom: 20px
		.contact-info__item
			margin-left: 20px
			display: block
			i 
				margin-right: 10px
				display: inline-block
			a 
				position: relative
				opacity: .8
				span
					@extend .falltext
					top: 90%
					font-size: 16px
					font-weight: 700
				&:hover
					opacity: .95
					color: #000
					span
						animation: animated 0.7s cubic-bezier(.77,0,.18,1) forwards

	.contact-social
		text-align: center
		.contact-social__item
			display: inline-block
			a 
				padding: 0 10px	
				opacity: .3
				transition: opacity 0.3s ease-in-out
				&:hover
					opacity: .8



@import "media" // Всегда в конце
